*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	position: relative;
	background: url(../img/bg.jpg);
}
h2,h3,h5{
	color: #000;
}
h4,p{
	color: #a5a3a3;
}p{
	text-align: center;
	font-size: 14px;
}
/*<!--顶部-->*/
.top{
	position: relative;
	width: 100%;
	height: 40px;
	background: #000;
	color: #fff;
}
.top .tleft{
	position: absolute;
	top: ;
	left:150px;
	/*border: 1px solid white;*/
}
.top .tleft a,.top .tright a{
	display: inline-block;
	line-height: 40px;
	color: #fff;
	font-size: 12px;
}
.top .tright{
	position: absolute;
	padding: 2px;
	width: auto;
	right: 150px;
	/*border: 1px solid white;*/
}
.top .tright li{
	float: left;
	margin-right: 5px;
	width: 36px;
	line-height: 40px;
}
.top .tright li.mail{
	height: 30px;
	background: url(../img/icon_bg.png) -114px -114px;
	/*border: 1px solid white;*/
}
.top .tright li.laba{
	width: 30px;
	height: 26px;
	color: #fff;
	background: url(../img/icon_bg.png) -169px -65px;
	/*background-color: #fff;*/
	/*border: 1px solid white;*/
}
.top .tright li.pic{
	height: 30px;
	background: url(../img/tou.png);
	background-size: cover;
}
.top .tright li.username{
	width: 70px;
	height: 30px;
}
/*<!--导航栏-->*/
.nav{
	position: relative;
	width: 100%;
	height: 60px;
	border: 1px solid #ccc;
	background: url(../img/bg.jpg);
}
.nav ul{
	position: absolute;
	left: 150px;
	clear: both;
}
.nav ul li{
	float: left;
	line-height: 60px;
	clear: right;
}
.nav ul li a{
	color: #868484;
}
.nav ul li.logo{
	width: 120px;
	height:60px;
	background: url(../img/logo.png);
	background-size: cover;
}
.nav ul li:nth-child(2){
	margin-left: 32px;
}
.nav ul li:nth-child(7){
	width:260px ;
	margin-left: 20px;
}
.nav ul li:nth-child(7) .search{
	width:240px ;
	height: 60px;
	margin-top: 15px;
	position: relative;
}
.nav ul li:nth-child(7) .search input[type='text']{
	position: absolute;
	left: 0px;
	width: 220px;
	height: 30px;
	line-height: 60px;
}
.nav ul li:nth-child(7) .search button{
	position: absolute;
	left: 224px;
	width: 34px;
	height: 34px;
	background: url(../img/icon_bg.png) -118px -43px;
	border: none;
	border: 1px solid #ccc;
	border-left: none;
	line-height: 60px;
	cursor: pointer;
}
.nav ul li:nth-last-child {
	border: 1px solid #000;
}
.nav ul li img{
	margin-left: 40px;
	margin-top: 15px;
}
/*图片*/
img.autumn{
	position: absolute;
	top: 120px;
	left: 150px;
	width: 1040px;
}
/*<!--编辑推荐+最新发布+右侧-->*/
.article{
	position: absolute;
	top:290px;
	left: 150px;
	height: auto;
	width: 1038px;
	/*border: 1px solid darkred;*/
}
/*<!--编辑推荐+最新发布-->*/
.artleft{
	padding: 18px;
	float: left;
	height: auto;
	width: 720px;/*716+40=756*/
	background: #fff;
}
.artleft p{
	text-align: initial;
}
.artleft img{
	width: 700px;
}
.artleft img.small{
	width: auto;
}
.shadowline{
	width: 100%;
}
.fanye{
	margin-top: -40px;
	float: right;
	width: 150px;
	height: 40px;
	/*border: 1px solid red;*/
}
.fanye ul{
	width: 150px;
	height: 40px;
}
.fanye ul li{
	float: left;
	margin: 0px 4px;
	width: 37px;
	height: 40px;
	/*border: 1px solid #000;*/
}
.fanye ul li:nth-child(1){
	background: url(../img/turn.png) 0px 2px;
}
.fanye ul li:nth-child(2){
	background: url(../img/turn.png) 0px -237px;
}
.fanye ul li:nth-child(3){
	background: url(../img/turn.png) 0px -46px;
}
/*<!--右侧-->*/
.artright{
	float: left;
	margin-left: 10px;
	height: auto;
	width: 270px;
	/*border: 1px solid darkgreen;*/
}
.sxp{
	width: 270px;
	height: 100px;
	background: #fff;
}
.sxp ul{
	width: 270px;
	height: 100px;
	/*border: 1px solid darkgreen;*/
}
.sxp ul li{
	float: left;
	width: 90px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.user{
	padding: 10px;
	margin-top: 10px;
	width: 250px;
	height: 70px;
	background: #fff;
}
.user img{
	margin-top: 5px;
	float: left;
	width: 60px;
}
.user .info{
	float: left;
}
.user .info p{
	margin-top: 14px;
	margin-left: 20px;
	width:170px;
	text-align: initial;
}
.icons{
	margin-top: 10px;
	width: 270px;
	height: 50px;
	background: #fff;
}
.icons ul {
	margin-left: 40px;
	width: 200px;
	height: 50px;
}
.icons li{
	margin-right: 6px;
	margin-top: 10px;
	float: left;
	width: 32px;
	height: 32px;
	line-height: 50px;
	
}
.icons ul li:nth-child(1){
	background: url(../img/qqkj.png);
}
.icons ul li:nth-child(2){
	background: url(../img/1wb.png);
}
.icons ul li:nth-child(3){
	background: url(../img/1tx.png);
}
.icons ul li:nth-child(4){
	background: url(../img/wx.png);
}
.icons ul li:nth-child(5){
	background: url(../img/rr.png);
}
.shadowline{
	width: 100%;
}
.hotrec{
	margin-top: 10px;
	width: 250px;
	padding: 10px;
	background: #fff;
}

.hotrec ul{
	width: 250px;
}
.hotrec ul li{
	height: 30px;
	line-height: 22px;
	padding: 3px 0px;
	border-bottom: 1px dashed #ccc;
}

.footerline{
	width: 100%;
	position: absolute;
	top:1700px;
}
footer{
	width: 100%;
	position: absolute;
	top:1710px;
}
footer p{
	text-align: center;
}